#!/usr/bin/env bash

alias ls="command ls -lFGh"
alias la="ls -lFGha"
alias cat='bat'
alias grep='grep --color=auto'

alias agg="ag -C 2 --ignore-dir={.git,log,node_modules,vendor,tmp,angular,*.js} $1"
alias preview="fzf --preview 'bat --color \"always\" {}'"

alias dl='cd ~/Downloads'
alias projects='cd ~/projects'
alias dot='cd ~/projects/dotfiles'

alias gl="git lg -n 10"
alias gc="git branch --merged | egrep -v \"(^\*|master|dev)\" | xargs git branch -d"
alias brew-update='brew update && brew upgrade && brew cleanup && brew doctor && terminal-notifier -title Brew -message "Upgrade finished"'

# Servio
alias logs-service-candidat='stern service-candidat --timestamps --tail 1000'
alias logs-ingress='stern nginx-ingress --timestamps --tail 1000'
alias logs-all='stern ".*" --timestamps --tail 1000'

# Kubernetes
alias k='kubectl'
alias kdebug='kubectl run test --rm --restart=Never -it --image=ubuntu -- bash'

complete -o default -F __start_kubectl k # Add tab completion for alias k

alias _inline_fzf="fzf --multi --ansi -i -1 --height=50% --reverse -0 --header-lines=1 --inline-info --border"
alias _inline_fzf_nh="fzf --multi --ansi -i -1 --height=50% --reverse -0 --inline-info --border"
