#!/usr/bin/env bash

alias ls="command ls -lFGh"
alias la="ls -lFGha"
alias cat='bat'
alias grep='grep --color=auto'

alias agg="ag -C 2 --ignore-dir={.git,log,node_modules,vendor,tmp,angular,*.js} $1"
alias preview="fzf --preview 'bat --color \"always\" {}'"

alias dl='cd ~/Downloads'
alias projects='cd ~/projects'
alias dot='cd ~/projects/dotfiles'

alias java8='setjdk 1.8'
alias java10='setjdk 10'
alias gl="git lg -n 10"
alias gc="git branch --merged | egrep -v \"(^\*|master|dev)\" | xargs git branch -d"
alias brew-update='brew update && brew upgrade && brew cleanup && brew doctor && terminal-notifier -title Brew -message "Upgrade finished"'

# Servio
alias servio='cd ~/projects/servio'
alias ng-run-candidat='servio && cd portail-candidat && ./node_modules/.bin/ng run candidat:serve'
alias ng-run-gestion='servio && cd portail-candidat && ./node_modules/.bin/ng run gestion:serve'
alias cluster-dev='kubectx dev && gcloud config configurations activate dev && gcloud config set account mbigorne@partnaire.fr'
alias cluster-recette='kubectx recette && gcloud config configurations activate recette && gcloud config set account mbigorne@partnaire.fr'
alias cluster-preprod='kubectx preprod && gcloud config configurations activate preprod && gcloud config set account mbigorne@partnaire.fr'
alias cluster-prod='confirm "Tu veux vraiment passer sur la prod ? [y/N] 😱" && kubectx prod && gcloud config configurations activate prod && gcloud config set account mbigorne-prod@partnaire.fr'
alias cluster-gitlab='kubectx gitlab && gcloud config configurations activate dev && gcloud config set account mbigorne@partnaire.fr'
alias start-env='servio && docker-compose up db pubsub'
alias destroy-env='servio && docker-compose rm -f db pubsub'
alias build-demo-rescue='servio && git pra ; mvn clean install -Dmaven.test.skip ; docker-compose build service-candidat service-authentification service-mail portail-candidat'
alias start-demo-rescue='servio && docker-compose up --force-recreate service-candidat service-mail service-authentification portail-candidat'
alias proxy-db-dev='servio && docker-compose up db-proxy-dev'
alias proxy-db-rec='servio && docker-compose up db-proxy-rec'
alias proxy-db-preprod='servio && docker-compose up db-proxy-preprod'
alias proxy-db-prod='servio && docker-compose up db-proxy-prod'
alias tunnel-pic='gcloud compute --project "partnaire-2022-dev" ssh --zone "europe-west1-b" "pic" -- -v -N -L 8080:localhost:8080'
alias ssh-pic='gcloud compute --project "partnaire-2022-dev" ssh --zone "europe-west1-b" "pic"'
alias backup-db-candidat='_servioBackupDB'
alias restore-db-candidat='confirm "Le base actuelle sera écrasée, continuer ? [y/N] 😱" && _servioRestoreDB'
alias destroy-db-candidat='confirm "Le base actuelle sera supprimée, continuer ? [y/N] 😱" && _servioDestroyDB'
alias logs-service-candidat='kail --svc=service-candidat --since=10m'
alias logs-ingress='kail --ds=nginx-ingress-controller --since=10m'

# Kubernetes
alias k='kubectl'
alias kdebug='kubectl run test --rm --restart=Never -it --image=ubuntu -- bash'

complete -o default -F __start_kubectl k # Add tab completion for alias k

alias _inline_fzf="fzf --multi --ansi -i -1 --height=50% --reverse -0 --header-lines=1 --inline-info --border"
alias _inline_fzf_nh="fzf --multi --ansi -i -1 --height=50% --reverse -0 --inline-info --border"
