#!/usr/bin/env bash

# Make sublime the default editor.
export EDITOR='subl';

export LSCOLORS='BxBxhxDxfxhxhxhxhxcxcx'

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Node version manager
export NVM_DIR="$HOME/.nvm"

# Open Sublime when pressing ctrl+o in FZF 
export FZF_DEFAULT_OPTS="--bind='ctrl-o:execute(subl {})+abort'"

# Save and reload the history after each command finishes
export PROMPT_COMMAND="history -a; history -c; history -r; $PROMPT_COMMAND"