#!/usr/bin/env bash

function setjdk() {
  if [ $# -ne 0 ]; then
   removeFromPath '/System/Library/Frameworks/JavaVM.framework/Home/bin'
   if [ -n "${JAVA_HOME+x}" ]; then
    removeFromPath $JAVA_HOME
   fi
   export JAVA_HOME=`/usr/libexec/java_home -v $@`
   export PATH=$JAVA_HOME/bin:$PATH
  fi

  echo JAVA_HOME set to $JAVA_HOME

  java -version
}

function removeFromPath() {
  export PATH=$(echo $PATH | sed -E -e "s;:$1;;" -e "s;$1:?;;")
}

confirm() {
    # call with a prompt string or use a default
    read -r -p "${1:-Are you sure? [y/N]} " response
    case "$response" in
        [yY][eE][sS]|[yY]) 
            true
            ;;
        *)
            false
            ;;
    esac
}

function klog() {
    local line_count=10
    if [[ $1 =~ ^[-]{0,1}[0-9]+$ ]]; then
        line_count="$1"
        shift
    fi

    arg_pair=$(kubectl get po --all-namespaces | _inline_fzf | awk '{print $1, $2}')
    pods_out=$(echo "$arg_pair" | xargs kubectl get po -o=jsonpath='{.spec.containers[*].name}' -n)
    pod_choosen=$(echo "$pods_out" |  tr ' ' "\n" | _inline_fzf_nh)
    echo kubectl logs -n "${arg_pair} -c ${pod_choosen}" --tail="${line_count}" "$@"
    eval kubectl logs -n "${arg_pair} -c ${pod_choosen}" --tail="${line_count}" "$@"
}

function kget() {
    case "$1" in
    # TODO Add more
    nodes|no|node|ns|namespace|namespaces)
        kubectl get "${1}" | _inline_fzf | awk '{print $1}' | xargs kubectl get -o yaml "${1}"
    ;;
    *)
        kubectl get "${1}" --all-namespaces | _inline_fzf | awk '{print $1, $2}' | xargs kubectl get -o yaml "${1}" -n
    ;;
    esac
}

function _servioBackupDB() {
  servio
  backupName="db-candidat-backup-$(date +"%Y-%m-%dT%H:%M:%S").tar.gz"
  docker-compose stop db-candidat
  echo "Creating $backupName"
  tar -czf $backupName postgres/db-candidat/
  mv $backupName postgres/backups/
  docker-compose start db-candidat
  cd -
}

function _servioRestoreDB() {
  servio
  backup_to_restore=$(ls -lth postgres/backups | _inline_fzf | awk '{print $9}')
  [ "$backup_to_restore" == "" ] && echo "Abort restore" && return

  docker-compose rm --force --stop db-candidat
  rm -fr postgres/db-candidat/*
  echo "Restoring $backup_to_restore"
  tar -xzf postgres/backups/$backup_to_restore
  docker-compose up -d db-candidat
  cd -
}

function _servioDestroyDB() {
  servio
  docker-compose rm --force --stop db-candidat
  rm -fr postgres/db-candidat/*
  docker-compose up -d db-candidat
  cd -
}

portkill() {
    lsof -ti:$1 | xargs kill
}
