#!/usr/bin/env bash

function setjdk() {
  if [ $# -ne 0 ]; then
   removeFromPath '/System/Library/Frameworks/JavaVM.framework/Home/bin'
   if [ -n "${JAVA_HOME+x}" ]; then
    removeFromPath $JAVA_HOME
   fi
   export JAVA_HOME=`/usr/libexec/java_home -v $@`
   export PATH=$JAVA_HOME/bin:$PATH
  fi

  echo JAVA_HOME set to $JAVA_HOME

  java -version
}

function removeFromPath() {
  export PATH=$(echo $PATH | sed -E -e "s;:$1;;" -e "s;$1:?;;")
}

confirm() {
    # call with a prompt string or use a default
    read -r -p "${1:-Are you sure? [y/N]} " response
    case "$response" in
        [yY][eE][sS]|[yY]) 
            true
            ;;
        *)
            false
            ;;
    esac
}

function _servioBackupDB() {
  servio
  backupName="db-candidat-backup-$(date +"%Y-%m-%dT%H:%M:%S").tar.gz"
  docker-compose stop db
  echo "creating $backupName"
  tar -czf $backupName postgres/db-candidat/
  mv $backupName postgres/backups/
  docker-compose start db
}

function _servioRestoreDB() {
  servio
  docker-compose rm --force --stop db
  rm -fr postgres/db-candidat/*
  backup_to_restore=$(ls -r postgres/backups | _inline_fzf | awk '{print $9}')
  echo "Restoring $backup_to_restore"
  tar -xzf postgres/backups/$backup_to_restore
  docker-compose up -d db
}
