[user]

	email = mathieu.bigorne@gmail.com
	name = Mathieu Bigorne

[color]

	diff = auto
	status = auto
	branch = auto
	ui = auto

[alias]

	st = status -sb
	ci = commit
	co = checkout
	lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%an %cr)%Creset' --abbrev-commit --date=relative
	oops = commit --amend --reuse-message=HEAD
	pra = pull --rebase --autostash
	pf = push --force-with-lease

[core]

	pager = cat
	editor = subl --wait
	quotepath = false
	autocrlf = input
	ignorecase = true
	# Make `git rebase` safer on macOS
	# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
	trustctime = false	

[push]

	default = current

[rerere]

	enabled = true

[pull]

    rebase = preserve

[color "branch"]

	current = cyan
	local = yellow
	remote = green

[color "diff"]

	meta = yellow bold
	frag = magenta bold # line info
	old = red # deletions
	new = green # additions

[color "status"]

	added = yellow
	changed = green
	untracked = cyan

[diff]

	mnemonicPrefix = true
	renames = true

[pager]

	diff = diff-so-fancy | less --tabs=1,5 -RFX
	show = diff-so-fancy | less --tabs=1,5 -RFX

[merge]

	ff = only

[status]

	showUntrackedFiles = all

[fetch]

	prune = true
