[user]

	email = steve.cances@gmail.com
	name = Steve Cancès

[color]

	diff = auto
	status = auto
	branch = auto
	ui = auto

[alias]

	st = status --short --branch
	ci = commit
	co = checkout
	lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%an %cr)%Creset' --abbrev-commit --date=relative
	lgv = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%an %cr)%Creset' --abbrev-commit --date=relative -20
	lgo = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%an %cr)%Creset' --abbrev-commit --date=relative @...origin
	diffo = diff @...origin
	pr = pull --rebase
	pra = pull --rebase --autostash
	rb = rebase
	rba = rebase --autostash
	diffc = diff --cached
	diffl = diff @~1 @
	oops = commit --amend -C HEAD
	oopsa = commit --amend -a -C HEAD
	wip = commit -m “WIP”
	wipa = commit -am “WIP”
	p = push
	pf = push --force-with-lease
	ps = push --push-option ci.skip
	pfs = push --force-with-lease --push-option ci.skip
	s = switch

[core]

	pager = cat
	editor = subl --wait
	quotepath = false
	autocrlf = input
	ignorecase = true
	# Make `git rebase` safer on macOS
	# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
	trustctime = false	

[push]

	default = current

[rerere]

	enabled = true

[pull]

    rebase = preserve

[color "branch"]

	current = cyan
	local = yellow
	remote = green

[color "diff"]

	meta = yellow bold
	frag = magenta bold # line info
	old = red # deletions
	new = green # additions

[color "status"]

	added = yellow
	changed = green
	untracked = cyan

[diff]

	mnemonicPrefix = true
	renames = true

[pager]

	diff = diff-so-fancy | less --tabs=1,5 -RFX
	show = diff-so-fancy | less --tabs=1,5 -RFX

[merge]

	ff = only

[status]

	showUntrackedFiles = all

[fetch]

	prune = true
