#!/usr/bin/env zsh

alias ls="eza -l"
alias cat='bat'
alias grep='grep --color=auto'

alias agg="ag -C 2 --ignore-dir='{.git,log,node_modules,vendor,tmp,angular,*.js}' $1"
alias preview="fzf --preview 'bat --color \"always\" {}'"

alias dl='cd ~/Downloads'
alias projects='cd ~/projects'
alias dot='cd ~/projects/dotfiles'
alias dot-apply='dot && cp zsh/.zshrc zsh/.aliases zsh/.functions zsh/.work zsh/.p10k.zsh .gitconfig ~ && source ~/.zshrc'

alias gl="git lg -n 10"
alias glb="git branch --sort=-committerdate | grep -v '*' | head | _servio_inline_fzf_nh | xargs git checkout"
alias gc="git branch --merged | egrep -v \"(^\*|master|dev)\" | xargs git branch -d"
alias brew-update='brew update && brew upgrade && brew cleanup && brew doctor && terminal-notifier -title Brew -message "Upgrade finished"'

# Kubernetes
#alias kubectl='kubecolor'
alias k='kubectl'
alias kdebug='kubectl run test --rm --restart=Never -it --image=ubuntu -- bash'

alias _inline_fzf="fzf --multi --ansi -i -1 --height=50% --reverse -0 --header-lines=1 --inline-info --border"
alias _inline_fzf_nh="fzf --multi --ansi -i -1 --height=50% --reverse -0 --inline-info --border"
